{erl_opts, [debug_info]}.
{deps, [
  {granderl,
    {git, "https://github.com/tokenrove/granderl.git", {branch, "master"}}}
]}.

{project_plugins, [
  {erlfmt, "~> v0.8"},
  {gradualizer,
    {git, "https://github.com/josefs/gradualizer.git", {tag, "0.1.0"}}}
]}.

{erlfmt, [
  write,
  {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{provider_hooks, [
  {pre, [{compile, fmt}]},
  {post, [{compile, gradualizer}]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [drip]}
]}.
