{erl_opts, [debug_info]}.
{deps, [
  {granderl,
    {git, "https://github.com/tokenrove/granderl.git", {branch, "master"}}}
]}.

{project_plugins, [
  {erlfmt, "~> v0.9.0"},
  {gradualizer,
    {git, "https://github.com/josefs/gradualizer.git", {tag, "0.1.2"}}},
  {rebar3_lint, "~> 0.3.0"}
]}.

{erlfmt, [
  write,
  {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{gradualizer_opts, [
  {i, "include"},
  print_file
]}.

{provider_hooks, [
  % {pre, [{compile, fmt}]},
  {post, [{compile, gradualizer}]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [drip]}
]}.

{gradualizer_opts, [
    {i, "include"},
    print_file
]}.
